body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title h1 {
    margin: 0;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.mypage {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.mypage:hover {
    background-color: #45a049;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.write-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.write-btn:hover {
    background-color: #45a049;
}

.write-btn2 {
    margin-left: 6px;
    padding: 5px 10px;
    background-color: #8d8e90;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.write-btn2:hover {
    background-color: #5c5e5c;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 80px); /* header 높이를 뺀 나머지 공간을 차지 */
    overflow-y: auto; /* 내용이 많아지면 스크롤 */
}

table.board {
    width: 100%;
    border-collapse: collapse;
}

table.board th, table.board td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

table.board th {
    background-color: #f0f0f0;
}

table.board tr:nth-child(even) {
    background-color: #f9f9f9;
}

table.board tr:hover {
    background-color: #f1f1f1;
}
