<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_post.css') }}">
</head>
<body>
    <h1>게시글 수정</h1>
    <form method="POST" action="{{ url_for('edit_post', post_id=post['_id']) }}">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" value="{{ post['title'] }}" required><br>
        <label for="content">Content:</label>
        <textarea id="content" name="content" required>{{ post['content'] }}</textarea><br>
        <input type="submit" value="Update">
    </form>
    <a href="{{ url_for('post', post_id=post['_id']) }}">뒤로가기</a>
</body>
</html>
